@page "/Error"
@using System.Diagnostics

<PageTitle>Erros</PageTitle>

<h1 class="text-danger">Erros.</h1>
<h2 class="text-danger">Ocorreu um erro ao processar sua solicitação.</h2>

@if (ShowRequestId)
{
    <p>
        <strong>ID de Requisição:</strong> <code>@RequestId</code>
    </p>
}

<h3>Modo de Desenvolvimento</h3>
<p>
    Alterando para <strong>Ambiente de Desenvolvimento</strong> irá mostrar mais informações sobre o erro que ocorreu.
</p>
<p>
    <strong>O Ambiente de Aplicação não pode depurar a aplicação.</strong>
    Isto pode resultar em revelar informações sensíveis das exceções ao usuário final.
    Para depuralção local, habilite o <strong>Ambiente de Desenvolvimento</strong> alterando a configuração <strong>ASPNETCORE_ENVIRONMENT</strong> environment variable to <strong>Development</strong>
    e reiniciando a aplicação.
</p>

@code{
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override void OnInitialized() =>
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
}
