@page "/categories"
@inject ApplicationDbContext Context
@attribute [StreamRendering(true)]

<h3>Lista de Categorias</h3>
<a href="/categories/insert"
   class="btn btn-success">Nova Categoria</a>
<br />

@if (!Categories.Any()){
    <p class="text-center">
        <em>Carregando categorias...</em>
    </p>
}
else {
    <table class="table">
        <thead>
            <tr>
                <th class="text-center">Id</th>
                <th>Nome</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Category category in Categories){
            <tr>
                <td class="text-center">@category.Id</td>
                <td>@category.Name</td>
                <td>
                    <a href="/categories/update/@category.Id" 
                    class="btn btn-primary">Alterar</a> 
                    &nbsp;&nbsp;
                    <a href="/categories/delete/@category.Id"
                        class="btn btn-danger">Excluir</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
}

@code {
    public IEnumerable<Category> Categories { get; set; } = 
    Enumerable.Empty<Category>();

    protected override async Task OnInitializedAsync() {

        //await Task.Delay(2000);
        Categories = await Context.Categories.AsNoTracking().ToListAsync();
    }

}
