@page "/categories/insert"
@rendermode InteractiveServer

<h3>Nova Categoria</h3>

<EditForm Model="@CategoryModel">

    <DataAnnotationsValidator/>
    <ValidationSummary/>

    <div class="mb-3">
        <label class="form-label">Nome:</label>
        <InputText @bind-Value="CategoryModel.Name" class="form-control"/>
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
    <a href="/categories">Categorias</a>
</EditForm>

@code {
    public Category CategoryModel { get; set; } = new();

    protected override void OnInitialized() {}
}
